
/* line 2, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
.latest-product-area .latest-area {
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* line 6, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .product-btn {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 80px;
    padding: 0 11px;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 6, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
    .latest-product-area .product-btn {
      border-bottom: none;
      margin-bottom: 24px;
      padding: 0 11px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 6, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
    .latest-product-area .product-btn {
      border-bottom: none;
      margin-bottom: 24px;
      padding: 0 11px;
    }
  }
  
  /* line 23, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-img {
    margin-bottom: 30px;
    position: relative;
  }
  
  /* line 26, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-img img {
    width: 100%;
  }
  
  /* line 30, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-img .new-product {
    position: absolute;
    top: 25px;
    left: 23px;
  }
  
  /* line 34, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-img .new-product span {
    background: #ff003c;
    padding: 3px 16px;
    border-radius: 30px;
    color: #fff;
  }
  
  /* line 43, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product h4 a {
    margin-bottom: 16px;
    font-size: 16px;
    color: #383838;
  }
  
  /* line 47, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product h4 a:hover {
    color: #ff003c;
  }
  
  /* line 54, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-caption .product-ratting i {
    color: #ffbc07;
    margin-bottom: 14px;
  }
  
  /* line 57, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area
    .single-product
    .product-caption
    .product-ratting
    i.low-star {
    color: #d3d3d3;
  }
  
  /* line 64, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-caption .price ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding-right: 13px;
  }
  
  /* line 69, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .single-product .product-caption .price ul li.discount {
    color: #ff003c;
    text-decoration: line-through;
  }
  
  @media (max-width: 767px) {
    /* line 78, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
    .latest-product-area .properties__button {
      float: left;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 78, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
    .latest-product-area .properties__button {
      float: left;
    }
  }
  
  /* line 88, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
  }
  
  @media (max-width: 767px) {
    /* line 88, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
    .latest-product-area .nav-tabs .nav-link {
      padding: 0.5rem 0.6rem;
    }
  }
  
  /* line 96, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nav-tabs .nav-item.show .nav-link,
  .latest-product-area .nav-tabs .nav-link.active {
    color: #ff003c;
  }
  
  /* line 99, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nav-tabs .nav-item {
    padding-bottom: 10px;
    display: block;
    color: #8f8f96;
    text-transform: capitalize;
    font-size: 16px;
  }
  
  /* line 106, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nav-tabs {
    margin-bottom: 15px;
    padding-bottom: 0px;
    position: relative;
    border: 0;
    display: flex;
    justify-content: center;
  }
  
  /* line 117, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #333333;
  }
  
  /* line 124, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nice-select .option:hover,
  .latest-product-area .nice-select .option.focus,
  .latest-product-area .nice-select .option.selected.focus {
    background-color: #00b1ff;
  }
  
  /* line 127, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nice-select .list {
    background-color: #fff;
  }
  
  /* line 130, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .nice-select::after {
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    height: 7px;
    width: 7px;
    margin-top: -7px;
  }
  
  /* line 137, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_latest_products.scss */
  .latest-product-area .featured {
    padding-top: 7px;
    padding-left: 7px;
  }

  /* line 96, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_category.scss */
.section-tittle h3 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 96, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_category.scss */
    .section-tittle h3 {
      font-size: 37px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 96, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_category.scss */
    .section-tittle h3 {
      font-size: 33px;
    }
  }

  
